<div class="container mt-5">
  <button class="btn btn-outline-primary me-3" (click)="get404Error()">Not found</button>
  <button class="btn btn-outline-primary me-3" (click)="get500Error()">Server error</button>
  <button class="btn btn-outline-primary me-3" (click)="get400Error()">Bad request</button>
  <button class="btn btn-outline-primary me-3" (click)="get400ValidationError()">Validation error</button>
  <div class="row mt-5" *ngIf="validationErrors.length > 0">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">{{error}}</li>
    </ul>
  </div>
</div>
